<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data</title>
    <link rel="stylesheet" href="css/style.css">
    <style type="text/css">
    	li{
    		color: white;
    	}
    </style>
  </head>
  <body>

    <ul>
      <li><a href="/add">Add Organisation</a></li>
      <li><a href="/add">Delete Organisation</a></li>
      <li><a href="/ucform">Upload Un-Cracked Data</a></li>
      <li><a href="/cform">Upload Cracked Data</a></li>
      <li><a href="/format">See All the Data!</a></li>
    </ul>


	</body>
</html>